$elements-size: 3.2rem;
$elements-font-size: 1rem;

$header-background: #292929;
$header__text-color: #7b7f84;
$header--size: 3.4rem;
$header__item--hover: #000;
$header__item-text--hover: #FFF;
$home__title: #dedede;
$main-font: 'Quicksand', sans-serif;